<%# add navigation links to this file %>
<% if user_signed_in? %>
    <li><%= link_to 'Log out', main_delete_path %></li>
    <li><%= link_to current_user.name %> </li>
<% else %>
    <li><%= link_to "Log in with SSO", user_omniauth_authorize_path(:doorkeeper) %></li>
<% end %>
<% if user_signed_in? %>
    <% if current_user.admin? %>
        <li><%= link_to 'Admin' %></li>
    <% end %>
<% end %>
